### BELGIAN POPULATION

###### IMPORTING LIBRARIES

In [175]:
import numpy as np
import pandas as pd

###### READING DATA

In [176]:
data = pd.read_csv('bev.csv')

###### EXPLORING DATA

In [177]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465657 entries, 0 to 465656
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   CD_REFNIS             465657 non-null  int64
 1   TX_DESCR_NL           465657 non-null  object
 2   TX_DESCR_FR           465657 non-null  object
 3   CD_DSTR_REFNIS        465657 non-null  int64
 4   TX_ADM_DSTR_DESCR_NL  465657 non-null  object
 5   TX_ADM_DSTR_DESCR_FR  465657 non-null  object
 6   CD_PROV_REFNIS        444165 non-null  float64
 7   TX_PROV_DESCR_NL      444165 non-null  object
 8   TX_PROV_DESCR_FR      444165 non-null  object
 9   CD_RGN_REFNIS         465657 non-null  int64
 10  TX_RGN_DESCR_NL       465657 non-null  object
 11  TX_RGN_DESCR_FR       465657 non-null  object
 12  CD_SEX                465657 non-null  object
 13  CD_NATLTY             465657 non-null  object
 14  TX_NATLTY_NL          465657 non-null  object
 15  TX_NATLTY_FR          465657 non-null  object
 16  CD_CIV_STS            465657 non-null  int64
 17  TX_CIV_STS_NL         465657 non-null  object
 18  TX_CIV_STS_FR         465657 non-null  object
 19  CD_AGE                465657 non-null  int64
 20  MS_POPULATION         465657 non-null  int64
dtypes: float64(1), int64(6), object(14)
memory usage: 74.6+ MB

In [178]:
data.drop(
    columns=[
        'TX_DESCR_FR',
        'TX_ADM_DSTR_DESCR_FR',
        'TX_PROV_DESCR_FR',
        'TX_RGN_DESCR_FR',
        'TX_NATLTY_FR',
        'TX_CIV_STS_FR'],
    inplace=True
)

In [179]:
data.columns

Index(['CD_REFNIS', 'TX_DESCR_NL', 'CD_DSTR_REFNIS', 'TX_ADM_DSTR_DESCR_NL',
       'CD_PROV_REFNIS', 'TX_PROV_DESCR_NL', 'CD_RGN_REFNIS',
       'TX_RGN_DESCR_NL', 'CD_SEX', 'CD_NATLTY', 'TX_NATLTY_NL', 'CD_CIV_STS',
       'TX_CIV_STS_NL', 'CD_AGE', 'MS_POPULATION'],
      dtype='object')

In [180]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465657 entries, 0 to 465656
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   CD_REFNIS             465657 non-null  int64
 1   TX_DESCR_NL           465657 non-null  object
 2   CD_DSTR_REFNIS        465657 non-null  int64
 3   TX_ADM_DSTR_DESCR_NL  465657 non-null  object
 4   CD_PROV_REFNIS        444165 non-null  float64
 5   TX_PROV_DESCR_NL      444165 non-null  object
 6   CD_RGN_REFNIS         465657 non-null  int64
 7   TX_RGN_DESCR_NL       465657 non-null  object
 8   CD_SEX                465657 non-null  object
 9   CD_NATLTY             465657 non-null  object
 10  TX_NATLTY_NL          465657 non-null  object
 11  CD_CIV_STS            465657 non-null  int64
 12  TX_CIV_STS_NL         465657 non-null  object
 13  CD_AGE                465657 non-null  int64
 14  MS_POPULATION         465657 non-null  int64
dtypes: float64(1), int64(6), object(8)
memory usage: 53.3+ MB

In [181]:
na_counts = [(i, data[i].isna().sum()) for i in data.columns]
for c, v in na_counts:
    print('The column {} has {} NA values.'.format(c, v))

The column CD_REFNIS has 0 NA values.
The column TX_DESCR_NL has 0 NA values.
The column CD_DSTR_REFNIS has 0 NA values.
The column TX_ADM_DSTR_DESCR_NL has 0 NA values.
The column CD_PROV_REFNIS has 21492 NA values.
The column TX_PROV_DESCR_NL has 21492 NA values.
The column CD_RGN_REFNIS has 0 NA values.
The column TX_RGN_DESCR_NL has 0 NA values.
The column CD_SEX has 0 NA values.
The column CD_NATLTY has 0 NA values.
The column TX_NATLTY_NL has 0 NA values.
The column CD_CIV_STS has 0 NA values.
The column TX_CIV_STS_NL has 0 NA values.
The column CD_AGE has 0 NA values.
The column MS_POPULATION has 0 NA values.

In [182]:
data['TX_PROV_DESCR_NL'].value_counts(dropna=False)

Provincie Luik               62491
Provincie Antwerpen          58909
Provincie Henegouwen         58771
Provincie Vlaams-Brabant     52685
Provincie West-Vlaanderen    49149
Provincie Oost-Vlaanderen    48014
Provincie Limburg            35777
Provincie Luxemburg          28619
Provincie Namen              27412
Provincie Waals-Brabant      22338
NaN                          21492
Name: TX_PROV_DESCR_NL, dtype: int64

In [183]:
missing_values = data.loc[data['TX_PROV_DESCR_NL'].isna(), ['TX_ADM_DSTR_DESCR_NL']].reset_index()

In [184]:
missing_values['TX_ADM_DSTR_DESCR_NL'].unique()

array(['Arrondissement Brussel-Hoofdstad'], dtype=object)

In [185]:
data.loc[
    # rows
    (data['TX_PROV_DESCR_NL'].isna()) &
    (data['TX_ADM_DSTR_DESCR_NL'] == 'Arrondissement Brussel-Hoofdstad'),
    # columns
    'TX_PROV_DESCR_NL'
] = 'Provincie Brussels'

In [186]:
na_counts = [(i, data[i].isna().sum()) for i in data.columns]
for c, v in na_counts:
    print('The column {} has {} NA values.'.format(c, v))

The column CD_REFNIS has 0 NA values.
The column TX_DESCR_NL has 0 NA values.
The column CD_DSTR_REFNIS has 0 NA values.
The column TX_ADM_DSTR_DESCR_NL has 0 NA values.
The column CD_PROV_REFNIS has 21492 NA values.
The column TX_PROV_DESCR_NL has 0 NA values.
The column CD_RGN_REFNIS has 0 NA values.
The column TX_RGN_DESCR_NL has 0 NA values.
The column CD_SEX has 0 NA values.
The column CD_NATLTY has 0 NA values.
The column TX_NATLTY_NL has 0 NA values.
The column CD_CIV_STS has 0 NA values.
The column TX_CIV_STS_NL has 0 NA values.
The column CD_AGE has 0 NA values.
The column MS_POPULATION has 0 NA values.

In [187]:
data['CD_PROV_REFNIS'].unique()

array([10000.,    nan, 20001., 20002., 30000., 40000., 50000., 60000.,
       70000., 80000., 90000.])

In [188]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465657 entries, 0 to 465656
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   CD_REFNIS             465657 non-null  int64
 1   TX_DESCR_NL           465657 non-null  object
 2   CD_DSTR_REFNIS        465657 non-null  int64
 3   TX_ADM_DSTR_DESCR_NL  465657 non-null  object
 4   CD_PROV_REFNIS        444165 non-null  float64
 5   TX_PROV_DESCR_NL      465657 non-null  object
 6   CD_RGN_REFNIS         465657 non-null  int64
 7   TX_RGN_DESCR_NL       465657 non-null  object
 8   CD_SEX                465657 non-null  object
 9   CD_NATLTY             465657 non-null  object
 10  TX_NATLTY_NL          465657 non-null  object
 11  CD_CIV_STS            465657 non-null  int64
 12  TX_CIV_STS_NL         465657 non-null  object
 13  CD_AGE                465657 non-null  int64
 14  MS_POPULATION         465657 non-null  int64
dtypes: float64(1), int64(6), object(8)
memory usage: 53.3+ MB

###### DATA ANALYSIS

In [189]:
# total population

In [190]:
data['MS_POPULATION'].sum()

11492641

In [191]:
# total population by province

In [192]:
data_by_province = data.groupby(by='TX_PROV_DESCR_NL', as_index=False)['MS_POPULATION'].sum()
data_by_province.rename(
    columns={'TX_PROV_DESCR_NL' : 'PROVINCE', 'MS_POPULATION' : 'POPULATION'},
    inplace=True)
data_by_province['PROVINCE'] = data_by_province['PROVINCE'].str.replace('Provincie ', '')
data_by_province['PROVINCE'] = data_by_province['PROVINCE'].str.replace('-', '')
data_by_province['PROVINCE'] = data_by_province['PROVINCE'].str.strip()

In [193]:
data_by_province

          PROVINCE  POPULATION
0        Antwerpen     1869730
1         Brussels     1218255
2       Henegouwen     1346840
3          Limburg      877370
4             Luik     1109800
5        Luxemburg      286752
6            Namen      495832
7   OostVlaanderen     1525255
8    VlaamsBrabant     1155843
9     WaalsBrabant      406019
10  WestVlaanderen     1200945

In [194]:
mapping_provinces = {
    'Luik' : 'Liège',
    'Namen' : 'Namur',
    'Henegouwen' : 'Hainaut',
    'WaalsBrabant' : 'BrabantWallon',
    'Luxemburg' : 'Luxembourg'
}

In [199]:
for k, v in mapping_provinces.items():
    data_by_province.loc[data_by_province['PROVINCE'] == k, 'PROVINCE'] = v

In [200]:
data_by_province

          PROVINCE  POPULATION
0        Antwerpen     1869730
1         Brussels     1218255
2          Hainaut     1346840
3          Limburg      877370
4            Liège     1109800
5       Luxembourg      286752
6            Namur      495832
7   OostVlaanderen     1525255
8    VlaamsBrabant     1155843
9    BrabantWallon      406019
10  WestVlaanderen     1200945