In [11]:
import pandas as pd
from datetime import datetime

In [4]:
data = pd.read_csv('./data/COVID19BE_tests.csv')

In [5]:
data['DATE'] = pd.to_datetime(data['DATE'])

In [6]:
data.dropna(axis=0, how='any')

           DATE        PROVINCE    REGION  TESTS_ALL  TESTS_ALL_POS
0    2020-03-01       Antwerpen  Flanders         18              0
1    2020-03-01   BrabantWallon  Wallonia          8              0
2    2020-03-01        Brussels  Brussels          4              0
3    2020-03-01         Hainaut  Wallonia          5              0
4    2020-03-01           Liège  Wallonia          8              0
...         ...             ...       ...        ...            ...
4002 2021-01-28      Luxembourg  Wallonia         11              1
4004 2021-01-28           Namur  Wallonia          5              0
4005 2021-01-28  OostVlaanderen  Flanders        148              6
4006 2021-01-28   VlaamsBrabant  Flanders        279              5
4007 2021-01-28  WestVlaanderen  Flanders        423             16

[3674 rows x 5 columns]

In [7]:
data['DATE'] = pd.to_datetime(data['DATE'])

In [12]:
start_date = datetime(2020, 3, 1)

In [13]:
end_date = datetime(2020, 3, 31)

In [14]:
data[(data['DATE'] >= start_date) & (data['DATE'] <= end_date)]

          DATE        PROVINCE    REGION  TESTS_ALL  TESTS_ALL_POS
0   2020-03-01       Antwerpen  Flanders         18              0
1   2020-03-01   BrabantWallon  Wallonia          8              0
2   2020-03-01        Brussels  Brussels          4              0
3   2020-03-01         Hainaut  Wallonia          5              0
4   2020-03-01           Liège  Wallonia          8              0
..         ...             ...       ...        ...            ...
367 2020-03-31             NaN       NaN         90             36
368 2020-03-31           Namur  Wallonia        179             56
369 2020-03-31  OostVlaanderen  Flanders        889            213
370 2020-03-31   VlaamsBrabant  Flanders        658            145
371 2020-03-31  WestVlaanderen  Flanders        779            197

[372 rows x 5 columns]