### COVID-19

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('COVID19BE_tests.csv')

EXPLORING DATA

In [3]:
len(data) # print out the number of rows

3984

In [4]:
data.shape # print out the number of rows and columns as a tuple

(3984, 5)

In [5]:
data.info() # print out detailed information about the data frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3984 entries, 0 to 3983
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           3984 non-null   object
 1   PROVINCE       3652 non-null   object
 2   REGION         3652 non-null   object
 3   TESTS_ALL      3984 non-null   int64
 4   TESTS_ALL_POS  3984 non-null   int64
dtypes: int64(2), object(3)
memory usage: 155.8+ KB

In [6]:
data

            DATE        PROVINCE    REGION  TESTS_ALL  TESTS_ALL_POS
0     2020-03-01       Antwerpen  Flanders         18              0
1     2020-03-01   BrabantWallon  Wallonia          8              0
2     2020-03-01        Brussels  Brussels          4              0
3     2020-03-01         Hainaut  Wallonia          5              0
4     2020-03-01           Liège  Wallonia          8              0
...          ...             ...       ...        ...            ...
3979  2021-01-26             NaN       NaN         60              0
3980  2021-01-26           Namur  Wallonia          3              0
3981  2021-01-26  OostVlaanderen  Flanders        345             19
3982  2021-01-26   VlaamsBrabant  Flanders        237              6
3983  2021-01-26  WestVlaanderen  Flanders        517             13

[3984 rows x 5 columns]

In [7]:
data.describe() # returns basic statistics for numerical data

          TESTS_ALL  TESTS_ALL_POS
count   3984.000000    3984.000000
mean    2001.385793     193.945532
std     2039.182745     398.550462
min        0.000000       0.000000
25%      546.000000      18.000000
50%     1278.500000      60.000000
75%     2759.000000     195.250000
max    11967.000000    4498.000000

In [8]:
data.describe(include = np.object)

              DATE PROVINCE    REGION
count         3984     3652      3652
unique         332       11         3
top     2020-11-26    Namur  Wallonia
freq            12      332      1660

In [9]:
data.columns

Index(['DATE', 'PROVINCE', 'REGION', 'TESTS_ALL', 'TESTS_ALL_POS'], dtype='object')

In [10]:
data['PROVINCE'].unique()

array(['Antwerpen', 'BrabantWallon', 'Brussels', 'Hainaut', 'Liège',
       'Limburg', 'Luxembourg', nan, 'Namur', 'OostVlaanderen',
       'VlaamsBrabant', 'WestVlaanderen'], dtype=object)

In [11]:
data.dropna(axis = 0, how = 'any', inplace = True)

In [12]:
data['REGION'].unique()

array(['Flanders', 'Wallonia', 'Brussels'], dtype=object)

In [13]:
data['MONTH'] = data['DATE'].str.slice(5, 7)

In [14]:
data['MONTH']

0       03
1       03
2       03
3       03
4       03
        ..
3978    01
3980    01
3981    01
3982    01
3983    01
Name: MONTH, Length: 3652, dtype: object

In [17]:
provinces = data.groupby(['PROVINCE'])

In [34]:
provinces['TESTS_ALL'].sum()

PROVINCE
Antwerpen         1292618
BrabantWallon      243168
Brussels           795775
Hainaut            777969
Limburg            575364
Liège              666365
Luxembourg         176304
Namur              282381
OostVlaanderen    1156674
VlaamsBrabant      786100
WestVlaanderen     999476
Name: TESTS_ALL, dtype: int64