### COVID-19 - CONFIRMED CASES BY DATE AND MUNICIPALITY

###### IMPORTING LIBRARIES

In [2]:
import pandas as pd

###### READING DATA

In [3]:
data = pd.read_csv('./data/covid19be_cases_muni.csv')

###### EXPLORING DATA

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93232 entries, 0 to 93231
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   NIS5                  92915 non-null  float64
 1   DATE                  93168 non-null  object
 2   TX_DESCR_NL           92915 non-null  object
 3   TX_DESCR_FR           92915 non-null  object
 4   TX_ADM_DSTR_DESCR_NL  92915 non-null  object
 5   TX_ADM_DSTR_DESCR_FR  92915 non-null  object
 6   PROVINCE              92915 non-null  object
 7   REGION                92915 non-null  object
 8   CASES                 93232 non-null  object
dtypes: float64(1), object(8)
memory usage: 6.4+ MB

In [5]:
nan_count = [(i, data[i].isna().sum()) for i in data.columns]
nan_count

[('NIS5', 317),
 ('DATE', 64),
 ('TX_DESCR_NL', 317),
 ('TX_DESCR_FR', 317),
 ('TX_ADM_DSTR_DESCR_NL', 317),
 ('TX_ADM_DSTR_DESCR_FR', 317),
 ('PROVINCE', 317),
 ('REGION', 317),
 ('CASES', 0)]

###### CLEANING DATA

In [6]:
data.dropna(inplace=True)

In [7]:
nan_count = [(i, data[i].isna().sum()) for i in data.columns]
nan_count

[('NIS5', 0),
 ('DATE', 0),
 ('TX_DESCR_NL', 0),
 ('TX_DESCR_FR', 0),
 ('TX_ADM_DSTR_DESCR_NL', 0),
 ('TX_ADM_DSTR_DESCR_FR', 0),
 ('PROVINCE', 0),
 ('REGION', 0),
 ('CASES', 0)]

In [8]:
data.reset_index(drop=True, inplace=True)

In [9]:
data['DATE'] = pd.to_datetime(data['DATE'])

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92852 entries, 0 to 92851
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   NIS5                  92852 non-null  float64
 1   DATE                  92852 non-null  datetime64[ns]
 2   TX_DESCR_NL           92852 non-null  object
 3   TX_DESCR_FR           92852 non-null  object
 4   TX_ADM_DSTR_DESCR_NL  92852 non-null  object
 5   TX_ADM_DSTR_DESCR_FR  92852 non-null  object
 6   PROVINCE              92852 non-null  object
 7   REGION                92852 non-null  object
 8   CASES                 92852 non-null  object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 6.4+ MB

In [11]:
data['CASES'].replace(to_replace='<5', value='4', inplace=True)

In [12]:
data['CASES'] = data['CASES'].astype(int)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92852 entries, 0 to 92851
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   NIS5                  92852 non-null  float64
 1   DATE                  92852 non-null  datetime64[ns]
 2   TX_DESCR_NL           92852 non-null  object
 3   TX_DESCR_FR           92852 non-null  object
 4   TX_ADM_DSTR_DESCR_NL  92852 non-null  object
 5   TX_ADM_DSTR_DESCR_FR  92852 non-null  object
 6   PROVINCE              92852 non-null  object
 7   REGION                92852 non-null  object
 8   CASES                 92852 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 6.4+ MB