### COVID-19 - TOTAL NUMBER OF TESTS BY DATE

#### IMPORTING LIBRARIES

In [91]:
import pandas as pd # python script

#### READING DATA

In [92]:
data = pd.read_csv('COVID19BE_tests.csv') # python script

#### CLEANING DATA

In [93]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           4008 non-null   object
 1   PROVINCE       3674 non-null   object
 2   REGION         3674 non-null   object
 3   TESTS_ALL      4008 non-null   int64
 4   TESTS_ALL_POS  4008 non-null   int64
dtypes: int64(2), object(3)
memory usage: 156.7+ KB

In [94]:
data.head()

         DATE       PROVINCE    REGION  TESTS_ALL  TESTS_ALL_POS
0  2020-03-01      Antwerpen  Flanders         18              0
1  2020-03-01  BrabantWallon  Wallonia          8              0
2  2020-03-01       Brussels  Brussels          4              0
3  2020-03-01        Hainaut  Wallonia          5              0
4  2020-03-01          Liège  Wallonia          8              0

In [98]:
data['DATE'] = pd.to_datetime(data['DATE'], format='%Y-%m-%d') # python script

In [96]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           4008 non-null   datetime64[ns]
 1   PROVINCE       3674 non-null   object
 2   REGION         3674 non-null   object
 3   TESTS_ALL      4008 non-null   int64
 4   TESTS_ALL_POS  4008 non-null   int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 156.7+ KB

In [97]:
data.head()

        DATE       PROVINCE    REGION  TESTS_ALL  TESTS_ALL_POS
0 2020-03-01      Antwerpen  Flanders         18              0
1 2020-03-01  BrabantWallon  Wallonia          8              0
2 2020-03-01       Brussels  Brussels          4              0
3 2020-03-01        Hainaut  Wallonia          5              0
4 2020-03-01          Liège  Wallonia          8              0

##### pandas.Series.unique()

parameters
- no parameters

return
- returns a NumPy array containing all unique values contained in the Series object

In [52]:
data['PROVINCE'].unique()

array(['Antwerpen', 'BrabantWallon', 'Brussels', 'Hainaut', 'Liège',
       'Limburg', 'Luxembourg', nan, 'Namur', 'OostVlaanderen',
       'VlaamsBrabant', 'WestVlaanderen'], dtype=object)

In [53]:
data['REGION'].unique()

array(['Flanders', 'Wallonia', 'Brussels', nan], dtype=object)

##### pandas.Series.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)

parameters
- normalize : False : return the absolute frequencies; True : return the relative frequencies
- sort : True : sort the output based on the frequencies; False : do not sort the output based on the frequencies
- ascending : False : sort in descending order; True : sort in ascending order
- bins : use this parameter to calculate the frequencies by buckets
- dropna : True : do not include observations for which the value is missing; False : include observations for which the observation is missing

return
- the (relative) frequencies by unique value

In [54]:
data['PROVINCE'].value_counts(dropna=False)

NaN               334
Liège             334
Brussels          334
Hainaut           334
BrabantWallon     334
VlaamsBrabant     334
Antwerpen         334
Limburg           334
Luxembourg        334
WestVlaanderen    334
Namur             334
OostVlaanderen    334
Name: PROVINCE, dtype: int64

In [55]:
data['REGION'].value_counts(dropna=False)

Flanders    1670
Wallonia    1670
NaN          334
Brussels     334
Name: REGION, dtype: int64

##### pandas.DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

parameters
- axis : 0 : drop rows with missing values; 1 : drop columns with missing values
- how : any : drop axis when at least 1 np.nan is there; all : drop axis when all values are np.nan
- thresh : n : drop axis when there are at least n values are np.nan
- subset
- inplace : True : modify the given DataFrame object; False : return a new DataFrame object

return
- None : the existing DataFra

In [56]:
data.dropna(axis=0, how='any', inplace=True) # python script

In [57]:
data['REGION'].value_counts(dropna=False)

Flanders    1670
Wallonia    1670
Brussels     334
Name: REGION, dtype: int64

In [58]:
data['PROVINCE'].value_counts(dropna=False)

Liège             334
Brussels          334
Hainaut           334
BrabantWallon     334
VlaamsBrabant     334
Antwerpen         334
Limburg           334
Luxembourg        334
WestVlaanderen    334
Namur             334
OostVlaanderen    334
Name: PROVINCE, dtype: int64

#### EXPLORING DATA

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3674 entries, 0 to 4007
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           3674 non-null   object
 1   PROVINCE       3674 non-null   object
 2   REGION         3674 non-null   object
 3   TESTS_ALL      3674 non-null   int64
 4   TESTS_ALL_POS  3674 non-null   int64
dtypes: int64(2), object(3)
memory usage: 172.2+ KB

In [60]:
data.head(20)

          DATE        PROVINCE    REGION  TESTS_ALL  TESTS_ALL_POS
0   2020-03-01       Antwerpen  Flanders         18              0
1   2020-03-01   BrabantWallon  Wallonia          8              0
2   2020-03-01        Brussels  Brussels          4              0
3   2020-03-01         Hainaut  Wallonia          5              0
4   2020-03-01           Liège  Wallonia          8              0
5   2020-03-01         Limburg  Flanders          7              0
6   2020-03-01      Luxembourg  Wallonia          0              0
8   2020-03-01           Namur  Wallonia          0              0
9   2020-03-01  OostVlaanderen  Flanders         12              0
10  2020-03-01   VlaamsBrabant  Flanders         15              0
11  2020-03-01  WestVlaanderen  Flanders          4              0
12  2020-03-02       Antwerpen  Flanders         38              1
13  2020-03-02   BrabantWallon  Wallonia          5              0
14  2020-03-02        Brussels  Brussels         17              3
15  2020-03-02         Hainaut  Wallonia          9              0
16  2020-03-02           Liège  Wallonia         24              0
17  2020-03-02         Limburg  Flanders         23              0
18  2020-03-02      Luxembourg  Wallonia          1              0
20  2020-03-02           Namur  Wallonia          1              0
21  2020-03-02  OostVlaanderen  Flanders         42              0

In [61]:
data.tail(20)

            DATE        PROVINCE    REGION  TESTS_ALL  TESTS_ALL_POS
3986  2021-01-27        Brussels  Brussels       4373            207
3987  2021-01-27         Hainaut  Wallonia       4096            309
3988  2021-01-27           Liège  Wallonia       3778            207
3989  2021-01-27         Limburg  Flanders       5785            279
3990  2021-01-27      Luxembourg  Wallonia       1433             89
3992  2021-01-27           Namur  Wallonia       1640             89
3993  2021-01-27  OostVlaanderen  Flanders       9065            375
3994  2021-01-27   VlaamsBrabant  Flanders       6124            283
3995  2021-01-27  WestVlaanderen  Flanders       7949            509
3996  2021-01-28       Antwerpen  Flanders        205             11
3997  2021-01-28   BrabantWallon  Wallonia         10              0
3998  2021-01-28        Brussels  Brussels         23              0
3999  2021-01-28         Hainaut  Wallonia          5              0
4000  2021-01-28           Liège  Wallonia        105             19
4001  2021-01-28         Limburg  Flanders        405             24
4002  2021-01-28      Luxembourg  Wallonia         11              1
4004  2021-01-28           Namur  Wallonia          5              0
4005  2021-01-28  OostVlaanderen  Flanders        148              6
4006  2021-01-28   VlaamsBrabant  Flanders        279              5
4007  2021-01-28  WestVlaanderen  Flanders        423             16

In [62]:
filter_province = data['PROVINCE'] == 'Brussels'

pandas.DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=<object object>, observed=False, dropna=True)

In [63]:
data_by_region = data.groupby(by='REGION') # python script

In [64]:
data_by_region_province = data.groupby(by=['REGION', 'PROVINCE']) # python script

In [65]:
total_tests_by_region = data_by_region[['TESTS_ALL', 'TESTS_ALL_POS']].sum() # python script

In [66]:
total_tests_by_region_province = data_by_region_province[['TESTS_ALL', 'TESTS_ALL_POS']].sum() # python script

In [67]:
total_tests_by_region['PCT_TESTS_POS'] = (total_tests_by_region['TESTS_ALL_POS'] / total_tests_by_region['TESTS_ALL']) * 100 # python script

In [68]:
total_tests_by_region_province['PCT_TESTS_POS'] = (total_tests_by_region_province['TESTS_ALL_POS'] / total_tests_by_region_province['TESTS_ALL']) * 100 # python script

In [69]:
total_tests_by_region.reset_index(inplace=True) # python script

In [70]:
total_tests_by_region

     REGION  TESTS_ALL  TESTS_ALL_POS  PCT_TESTS_POS
0  Brussels     805278          99933      12.409752
1  Flanders    4894156         345072       7.050695
2  Wallonia    2172946         319597      14.708005

In [71]:
total_tests_by_region_province.reset_index(inplace=True) # python script

In [72]:
total_tests_by_region_province

      REGION        PROVINCE  TESTS_ALL  TESTS_ALL_POS  PCT_TESTS_POS
0   Brussels        Brussels     805278          99933      12.409752
1   Flanders       Antwerpen    1314239          95713       7.282770
2   Flanders         Limburg     588169          37994       6.459708
3   Flanders  OostVlaanderen    1175751          79411       6.754066
4   Flanders   VlaamsBrabant     799144          60130       7.524301
5   Flanders  WestVlaanderen    1016853          71824       7.063361
6   Wallonia   BrabantWallon     246510          29551      11.987749
7   Wallonia         Hainaut     788050         116550      14.789671
8   Wallonia           Liège     674069         113424      16.826764
9   Wallonia      Luxembourg     178777          20180      11.287805
10  Wallonia           Namur     285540          39892      13.970722

In [99]:
data.head(15)

         DATE        PROVINCE    REGION  TESTS_ALL  TESTS_ALL_POS
0  2020-03-01       Antwerpen  Flanders         18              0
1  2020-03-01   BrabantWallon  Wallonia          8              0
2  2020-03-01        Brussels  Brussels          4              0
3  2020-03-01         Hainaut  Wallonia          5              0
4  2020-03-01           Liège  Wallonia          8              0
5  2020-03-01         Limburg  Flanders          7              0
6  2020-03-01      Luxembourg  Wallonia          0              0
7  2020-03-01             NaN       NaN          1              0
8  2020-03-01           Namur  Wallonia          0              0
9  2020-03-01  OostVlaanderen  Flanders         12              0
10 2020-03-01   VlaamsBrabant  Flanders         15              0
11 2020-03-01  WestVlaanderen  Flanders          4              0
12 2020-03-02       Antwerpen  Flanders         38              1
13 2020-03-02   BrabantWallon  Wallonia          5              0
14 2020-03-02        Brussels  Brussels         17              3

In [104]:
total_tests_by_month = data.resample('M', on='DATE')[['TESTS_ALL', 'TESTS_ALL_POS']].sum()

In [105]:
total_tests_by_month['PCT_TESTS_POS'] = (total_tests_by_month['TESTS_ALL_POS'] / total_tests_by_month['TESTS_ALL']) * 100

In [106]:
total_tests_by_month

            TESTS_ALL  TESTS_ALL_POS  PCT_TESTS_POS
DATE
2020-03-31      69152          17131      24.772964
2020-04-30     338083          39567      11.703339
2020-05-31     493340          12045       2.441521
2020-06-30     373688           4225       1.130622
2020-07-31     434643           8830       2.031552
2020-08-31     602628          18768       3.114359
2020-09-30     984851          42474       4.312734
2020-10-31    1723389         339763      19.714818
2020-11-30     912350         154578      16.942840
2020-12-31    1032369          80481       7.795759
2021-01-31    1132569          61426       5.423599