In [2]:
import pandas as pd
from datetime import datetime

In [4]:
data = pd.read_csv('./data/COVID19BE_tests.csv')

In [5]:
data['DATE'] = pd.to_datetime(data['DATE'])

In [6]:
data.dropna(axis=0, how='any')

           DATE        PROVINCE    REGION  TESTS_ALL  TESTS_ALL_POS
0    2020-03-01       Antwerpen  Flanders         18              0
1    2020-03-01   BrabantWallon  Wallonia          8              0
2    2020-03-01        Brussels  Brussels          4              0
3    2020-03-01         Hainaut  Wallonia          5              0
4    2020-03-01           Liège  Wallonia          8              0
...         ...             ...       ...        ...            ...
4002 2021-01-28      Luxembourg  Wallonia         11              1
4004 2021-01-28           Namur  Wallonia          5              0
4005 2021-01-28  OostVlaanderen  Flanders        148              6
4006 2021-01-28   VlaamsBrabant  Flanders        279              5
4007 2021-01-28  WestVlaanderen  Flanders        423             16

[3674 rows x 5 columns]

In [7]:
data['DATE'] = pd.to_datetime(data['DATE'])

In [9]:
start_date =

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           4008 non-null   datetime64[ns]
 1   PROVINCE       3674 non-null   object
 2   REGION         3674 non-null   object
 3   TESTS_ALL      4008 non-null   int64
 4   TESTS_ALL_POS  4008 non-null   int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 156.7+ KB